/* -------------------------------------------------------BODY ------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

/* -------------------------------------------------------HEADER ------------------------------------------------- */

/* ------------ MENU ------------ */

header {
  position: absolute;
}

#navbarNav {
  font-size: 1.2em;
}
#navbarNav li {
  padding-left: 1em;
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  color: #f2f2f2 !important;
  font-weight: bold;
}

/* ----------------BACKGROUND VIDEO -------------- */

#background-video {
  background-size: 100%;
  width: 100%;
  height: 100px;
}

.video {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.titlevideo {
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 32%;
}

/* ---------------- A PROPOS -------------- */

.background-about {
  height: 400px;
  object-fit: cover;
}

.about {
  width: 50%;
  background-color: #f2f2f23f;
  margin-top: 5%;
  border-radius: 0px 25px 0px 25px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 0px;
}

/* ---------------- ARTICLES -------------- */

.article {
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 10px 10px 5px #656565;
}

.card.ARTICLE {
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 10px 10px 5px #656565;
}
.card.KIT {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* -------------------------------------------------------FOOTNOTE ------------------------------------------------- */

video.end {
  object-fit: cover;
  border-radius: 25px 0 25px 0;
}

/* ------------------------------------------------------- FOOTER ------------------------------------------------- */

footer {
  width: 100%;
  height: auto;
  padding: 1.6em 0 1.6em 0;
}
#footer {
  display: inline-block;
  background-color: #232323;
  color: #fff;
}
footer .footer-ul {
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
  color: #f29727;
  font-family: "Maven Pro";
  width: 15em;
  list-style-type: none;
}
.list-unstyled li a:hover {
  color: white;
}
footer div img.logoresou {
  width: 10%;
  cursor: pointer;
}
#frondBlanche {
  width: 100%;
  height: 34em;
  background-color: #fff;
}
iframe {
  width: 100%;
  height: 200px;
}
/* main */
#aboutUs,
.text-light {
  text-align: center;
}
#aboutUs-p {
  font-size: 1.2em;
  margin: auto;
  width: 60%;
  text-align: justify;
}
