/* BODY  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
header.img-fluid w-70 {
  width: 100%;
  position: fixed;
}
/* -----------------HEADER --------------- */
.background-accueil {
  background-image: url(image/frond-site-hotel.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  background-position: center center;
  background-attachment: fixed;
}
/* ------------ MENU ------------ */
#navbarNav {
  font-size: 1.2em;
}
#navbarNav li {
  padding-left: 1em;
}
/* section*/
input {
  padding: 0.3em;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  border-radius: 0 !important;
}
.form-control {
  border-radius: 0 !important;
  font-size: 1em;
}
.clickable {
  cursor: pointer;
}
/* section */
/* datepicker */
.datepicker {
  height: 23%;
  width: 45%;
  margin-top: 2%;
  margin-left: 32%;
  border-radius: 1.6em 0 1.6em 0;
  padding-top: 2%;
  background-color: #f2f2f2;
}
.choice {
  padding-top: 3px;
}
.selectmenu {
  display: flex;
  flex-direction: row-reverse;
}
p.left {
  display: flex;
  flex-direction: row;
}

.flex {
  float: left;
  padding-left: 9%;
  padding-bottom: 3%;
}
form {
  padding-left: 10%;
}
.btn-primary {
  width: 6.7em;
  height: 3.3em;
  color: #fff;
  padding-bottom: 3px;
  background-color: #337ab7;
  border-color: #2e6da4;
}
/* datepicker */
h1.title {
  margin-left: -1%;
}

p.presentation {
  text-align: justify;
}
div.row.desc {
  margin-top: -5%;
  margin-left: -14%;
  padding-bottom: 4%;
}
/* ----------- MENU FOOTER ----- */
footer {
  width: 100%;
  height: auto;
  padding: 1.6em 0 1.6em 0;
}
#footer {
  display: inline-block;
  background-color: #232323;
  color: #fff;
}
footer .footer-ul {
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
  color: #f29727;
  font-family: "Maven Pro";
  width: 15em;
  list-style-type: none;
}
.list-unstyled li a:hover {
  color: white;
}
footer div img.logoresou {
  width: 10%;
  cursor: pointer;
}
#frondBlanche {
  width: 100%;
  height: 34em;
  background-color: #fff;
}
iframe {
  width: 100%;
  height: 16em;
}
/* main */
#aboutUs,
.text-light {
  text-align: center;
}
#aboutUs-p {
  font-size: 1.2em;
  margin: auto;
  width: 60%;
  text-align: justify;
}
/* main */
